.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-img {
    margin-top: 2rem;
}

img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.profile-details {
    margin: 2rem 2rem 2rem 2rem;
}

.mat-subheading-1 {
    margin: 0px 0px 0px;
}