.profile-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.profile-img {
    margin: 2rem 2rem 2rem 2rem;
    width: 10%;
    height: 10%;
}

.profile-details {
    margin: 2rem 2rem 2rem 2rem;
}