<main>
    <mat-card>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <div class="mat-display-1">Login</div>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </form>
    </mat-card>
</main>