<main>
    <mat-card>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <div class="mat-display-1">{{'login'|translate}}</div>
            <mat-form-field>
                <input matInput placeholder="{{'email'|translate}}" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="hasError('email')">
                <mat-error class="mat-caption">Enter valid email address</mat-error>
            </div>
            <mat-form-field>
                <input matInput placeholder="{{'password'|translate}}" type="password" formControlName="password" required>
            </mat-form-field>
            <div *ngIf="hasError('password')">
                <mat-error class="mat-caption">Required one capital letter, length 8.</mat-error>
            </div>
            <div>
                <button mat-raised-button type="submit" [disabled]="!loginForm.valid">{{'login'|translate}}</button>
            </div>
            <div *ngIf="this.errors">
                <mat-error class="mat-caption" *ngIf="this.errorStatus === 400">One or more of the inputs are wrong!</mat-error>
            </div>
        </form>
    </mat-card>
</main>