<main>
    <mat-card>
        <form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
            <div class="mat-display-1">Login</div>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="hasError('email')">
                <mat-error>Enter valid email address</mat-error>
            </div>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
            <div *ngIf="hasError('password')">
                <mat-error>Required one capital letter, length 8.</mat-error>
            </div>
            <div>
                <button mat-raised-button type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
            <div *ngIf="this.errors">
                <mat-error *ngIf="this.errors.status === 400">One or more of the inputs are wrong!</mat-error>
            </div>
        </form>
    </mat-card>
</main>