<mat-card>
    <div class="tweet-container">
        <div class="profile-img">
            <img src="assets/icons/default-profile-picture.jpg" alt="profile" width="90%;" height="90%;">
        </div>
        <div class="tweet-details">
            <span>Name </span>
            <span> - </span>
            <span>Created At:</span>
            <div class="tweet-content__container">
                <p class="tweet-content">
                    That said, Twitter did see some impact from the doubling of character count in terms of how people write. It found that abbreviations are used much less than before. Instead of writing in “text speak” like “u r,” “u8,” “b4” and others, people are now
                    using proper words. For example, the use of abbreviations like “gr8” is down by 36%, use of “b4″ is down by 13%,” and “sry” has dropped 5%. Other words have increased as result, including “great” (+32%), “before” (+70%) and “sorry”
                    (+31%). Twitter also points out that the use of “please” and “thank you” have increased over the year since the character count change, by 54% and 22%, respectively. But don’t take those metrics to mean that Twitter’s community itself
                    has a kinder, gentler tone. Sentiment expressed on the network can’t be tracked by use of polite words alone – especially when they’re a part of less than polite conversations, or used sarcastically, for example. You’d need real sentiment
                    analysis for that. Perhaps unrelated to character count increases, Twitter found that the number of tweets with a question mark have increased by 30%, and overall, tweets are receiving more replies. </p>
            </div>
        </div>
    </div>
    <div class="tweet-tools">
        <img src="assets/icons/delete.svg" alt="delete" />
        <img src="assets/icons/reply.svg" alt="reply" />
        <span> count </span>
        <img src="assets/icons/star.svg" alt="star" />
    </div>
</mat-card>