<main>
    <mat-card>
        <div class="tweet__container" fullpage>
            <section class="tweet-headlines" fullpage>
                <div class="profile-img__container" fullpage>
                    <img class="profile-img" fullpage [src]="tweet.authorAvatarUrl" alt="profile">
                </div>
                <div class="tweet-details__container" fullpage>
                    <mat-button (click)="navigateTo()">{{tweet.author}}</mat-button>
                    <span> - </span>
                    <span>{{'createdAt' | translate}}: {{tweet.createdAt}}</span>
                </div>
            </section>
            <article class="tweet-text__container" fullpage>
                <p class="tweet-content">{{tweet.content}}</p>
            </article>
            <section class="tweet-tools__container" fullpage>
                <mat-icon id="delete-btn" class="tweet-tools__btn" fullpage *ngIf="this.canDeleted" (click)="delete()">delete
                </mat-icon>
                <mat-icon id="reply-btn" class="tweet-tools__btn" fullpage *ngIf="this.user._id !== undefined" (click)="reply()">reply
                </mat-icon>
                <span [ngClass]="{active: checkFavorited() === true}" *ngIf="this.user._id !== undefined"> {{tweet.starCounter}} </span>
                <mat-icon id="star-btn" [ngClass]="{active: checkFavorited() === true}" class="tweet-tools__btn" fullpage *ngIf="this.user._id !== undefined" (click)="star()">star</mat-icon>
            </section>
        </div>
    </mat-card>
    <br>
</main>