<main>
    <mat-card>
        <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()">
            <div class="mat-display-1" (click)="display()">Register</div>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Username" formControlName="username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Image Path" formControlName="image">
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" [disabled]="!registerForm.valid">Register</button>
            </div>
        </form>
    </mat-card>
</main>