main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
}

main mat-card {
    width: 80%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
    width: 50%;
}