<main>
    <mat-card>
        <form [formGroup]="registerForm" class="register-form" (ngSubmit)="onSubmit()">
            <div class="mat-display-1">{{'register'|translate}}</div>
            <mat-form-field>
                <input matInput placeholder="{{'email'|translate}}" formControlName="email" required>
            </mat-form-field>
            <div *ngIf="hasError('email')">
                <mat-error class="mat-caption">Enter valid email address</mat-error>
            </div>
            <mat-form-field>
                <input matInput placeholder="{{'username'|translate}}" formControlName="username" required>
            </mat-form-field>
            <div *ngIf="hasError('username')">
                <mat-error class="mat-caption">Enter valid username.</mat-error>
            </div>
            <mat-form-field>
                <input matInput placeholder="{{'password'|translate}}" type="password" formControlName="password" required>
            </mat-form-field>
            <div *ngIf="hasError('password')">
                <mat-error class="mat-caption">Required one capital letter, length 8.</mat-error>
            </div>
            <mat-checkbox color="primary" (change)="checked= !checked">Profile Image?</mat-checkbox>
            <mat-form-field *ngIf="checked">
                <input matInput placeholder="{{'imagePath'|translate}}" formControlName="image">
            </mat-form-field>
            <div>
                <button mat-raised-button type="submit" [disabled]="!registerForm.valid">{{'register'|translate}}</button>
            </div>
            <br>
            <div *ngIf="this.errors">
                <mat-error class="mat-caption" *ngIf="this.errorStatus === 409">User already existed!</mat-error>
                <mat-error class="mat-caption" *ngIf="this.errorStatus !== 409">One or more of the inputs are wrong!</mat-error>
            </div>
        </form>
    </mat-card>
</main>