<main>
    <mat-card>
        <form [formGroup]="postForm" class="post-form" (ngSubmit)="saveTweet()">
            <mat-form-field class="post-form__content">
                <textarea matInput placeholder="text Here" formControlName="textTweet" [(ngModel)]="textPost" required></textarea>
            </mat-form-field>
            <div class="post-form__details">
                <span>{{ textPost.length }}/240 </span>
                <button mat-raised-button type="submit" [disabled]="!postForm.valid">Post</button>
            </div>
        </form>
    </mat-card>
</main>