<mat-toolbar color="primary" fullpage>
    <div class="toolbar__container" fullpage>
        <div class="toolbar__left-links" fullpage>
            <button mat-button>Home</button>
            <button mat-button>Login</button>
            <button mat-button>Register</button>
            <button mat-button>Logout</button>
            <button mat-button>Profile</button>
        </div>
        <div class="toolbar__right-links" fullpage>
            <button mat-button>EN</button>
            <button mat-button>ES</button>
        </div>
    </div>
</mat-toolbar>