<mat-toolbar color="primary">
    <div class="toolbar__container">
        <div class="toolbar__left-links">
            <div class="mat-button" fullpage>Home</div>
            <div class="mat-button" fullpage>Login</div>
            <div class="mat-button" fullpage>Register</div>
            <div class="mat-button" fullpage>Logout</div>
            <div class="mat-button" fullpage>Profile</div>
        </div>
        <div class="toolbar__right-links">
            <div class="mat-button" fullpage>EN</div>
            <div class="mat-button" fullpage>ES</div>
        </div>
    </div>
</mat-toolbar>