mat-toolbar {
    width: 100%;
}

.toolbar__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
}

.toolbar__left-links {
    display: flex;
    flex-direction: row;
}

.toolbar__right-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}